@charset "UTF-8";
/*VARIABLES*/
/*LAYOUTS*/
/*HEADER*/
header {
  font-size: 2.5rem;
  width: 100%;
  height: 100%;
  background: #134877;
  background: -moz-linear-gradient(135deg, #134877 0%, #1078c6 0%, #1078c6 40%, #0b1721 100%);
  background: -webkit-linear-gradient(135deg, #134877 0%, #1078c6 0%, #1078c6 40%, #0b1721 100%);
  background: linear-gradient(135deg, #134877 0%, #1078c6 0%, #1078c6 40%, #0b1721 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134877",endColorstr="#0b1721",GradientType=1); }
  header label {
    display: none;
    margin: auto; }
    header label .iconoMenu {
      height: 4.5rem;
      width: 4.5rem; }
  header label:hover {
    cursor: pointer;
    background: #000000; }
  header #btn-menu {
    display: none; }
  header .iconoTransición {
    width: 15rem;
    height: 13rem;
    transition: all 1s; }
  header .iconoTransición:hover {
    transform: scale(1.1);
    width: 16.5rem;
    height: 13.5rem; }
  header .logoImagen {
    width: 15rem;
    height: 13rem; }

/*FOOTER*/
footer {
  background: #134877;
  background: -moz-linear-gradient(135deg, #134877 0%, #1078c6 0%, #1078c6 40%, #0b1721 100%);
  background: -webkit-linear-gradient(135deg, #134877 0%, #1078c6 0%, #1078c6 40%, #0b1721 100%);
  background: linear-gradient(135deg, #134877 0%, #1078c6 0%, #1078c6 40%, #0b1721 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134877",endColorstr="#0b1721",GradientType=1);
  width: auto;
  height: auto; }

.redesTranslate {
  width: 5rem;
  height: 5rem;
  transition: all 1s; }

.redesTranslate:hover {
  width: 5.5rem;
  height: 5.5rem;
  transform: scale(1.1); }

.imgRedes {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  margin: 0.5rem; }

.divRedes {
  display: inline-block;
  width: 5.5rem;
  height: 5.5rem; }

.face {
  grid-area: face;
  gap: 2rem; }

.insta {
  grid-area: insta;
  gap: 2rem; }

.contactanosFooter {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  text-align: justify;
  color: #fff;
  margin: 1rem;
  padding: 1rem; }

.area3 {
  grid-area: title; }

.redesSociales {
  color: #fff;
  font-size: 1.4rem;
  text-align: start;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none; }

.faceInsta {
  display: grid;
  width: 100%;
  height: 60%;
  grid-template-columns: repeat(2, 20%);
  grid-template-rows: auto;
  grid-template-areas: "title title" "face insta"; }

/*Formulario*/
.formu {
  color: #4f9ce4;
  font-size: 2.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 50%;
  display: inline-block;
  animation-name: mostrar;
  animation-duration: 1.1s; }

.formu__formulario-1 {
  padding: 1.5rem;
  margin: 1.5rem; }

.formu__formulario-2 {
  padding: 1.5rem;
  margin: 1.5rem; }

.formu__formulario-3 {
  padding: 1.5rem;
  margin: 1.5rem; }

.formu__formulario-4 {
  padding: 1.5rem;
  margin: 1.5rem; }

.formu__detalles {
  font-size: 2.5rem;
  width: 25rem; }

/*Imágenes Gente*/
.divGentes {
  margin-bottom: 3rem;
  display: inline-block;
  animation-duration: 1.5s;
  animation-name: mostrar; }

.divGentes__imgNosotros {
  width: 30rem;
  height: 25rem;
  border: solid;
  display: block;
  margin: 0 auto; }

/*estilos títulos*/
.title {
  margin: auto;
  animation-name: mostrar;
  animation-duration: 1.1s; }

h1 {
  font-family: "Lato", sans-serif;
  color: #4f9ce4;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: start;
  padding: 1rem;
  margin-right: 0.7rem;
  margin-left: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem; }

.title__textoBienvenida {
  font-family: "Lato", sans-serif;
  color: #e48d8d;
  font-size: 3rem;
  text-align: start;
  margin: 0.8rem;
  padding: 0.4rem;
  margin-left: 1.3rem;
  animation-name: mostrar;
  animation-duration: 1.1s; }

/*estilos productos index*/
.divProductos {
  width: 20rem;
  height: 20rem;
  margin: 3rem;
  padding: 3rem;
  border: solid #9e9e9e;
  align-content: center;
  background-color: #fff; }

.divProductos__preciosCelus {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  margin: 1px;
  padding: 1px;
  background-color: #e48d8d; }

.divProductos__celuTitle {
  font-family: "Lato", sans-serif;
  color: #4f9ce4;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem; }

.divProductos__imgCelus {
  width: 13.5rem;
  height: 11.5rem;
  align-content: center;
  margin: auto;
  padding: 0.5rem;
  display: block; }

/*ESTILOS Fichas Técnicas*/
.divFichas, .divFichas--celular, .divFichas--accesorio {
  font-size: 2rem;
  text-align: start;
  letter-spacing: 0.2rem;
  list-style-type: disc; }

.divFichas--celular {
  color: #4f9ce4; }

.divFichas--accesorio {
  color: #e48d8d; }

.title-celular {
  color: #4f9ce4;
  font-size: 2rem;
  text-align: justify;
  margin: 3rem;
  padding: 1rem;
  letter-spacing: 2px;
  display: inline-block; }

.title-accesorio {
  color: #e48d8d;
  font-size: 2rem;
  text-align: justify;
  margin: 3rem;
  padding: 1rem;
  letter-spacing: 2px;
  display: inline-block; }

/*estilos celus y accesorios*/
.divCelus {
  background-color: #fff;
  height: 30rem;
  width: 30rem;
  margin: 3rem;
  padding: 3rem;
  border: solid #959da8;
  display: block; }

.divCelus__preciosCelus2 {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 1.9rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid #b1b1a3;
  background-color: #e48d8d; }

.divCelus__preciosCelus2--bordesColor {
  color: #fff;
  background-color: #e48d8d;
  font-size: 1.9rem;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border: solid black;
  margin-bottom: 1rem;
  padding: 1rem; }

.divCelus__celusTitle {
  font-family: "Lato", sans-serif;
  color: #4f9ce4;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem; }

.divCelus__imgDetalles {
  width: 16rem;
  height: 15rem;
  margin: auto;
  display: block;
  align-content: center; }

.divBoton {
  width: 15rem;
  height: 5rem;
  background-color: #4f9ce4;
  margin: 2rem; }

.botonComprar {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1rem;
  color: #fff;
  font-size: 3rem;
  text-align: center; }

/*Página error 404*/
.error404 {
  background-color: #fff; }

.erroresDiv {
  color: #4f9ce4;
  margin: 1rem;
  padding: 1rem;
  font-size: 2.5rem;
  font-family: "Lato", sans-serif; }

.erroresHome {
  font-size: 3rem;
  background-color: #e48d8d;
  display: inline-block;
  margin: 5rem; }

.nosotrosTexto {
  font-family: "Lato", sans-serif;
  color: #e48d8d;
  font-size: 2.8rem;
  text-align: start;
  margin: 1.3rem;
  padding: 1.3rem;
  animation-duration: 1.5s;
  animation-name: mostrar;
  z-index: 0; }

.mapaGoogle {
  width: 35rem;
  height: 35rem;
  margin: auto; }

/*COMPONENTS*/
/*MENU DESPLEGABLE*/
.menu {
  margin: 0%;
  padding: 0%;
  animation-name: mostrar;
  animation-duration: 1s; }

.menu li a {
  display: block;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  color: #fff;
  text-decoration: none; }

.menu ul {
  color: rgba(0, 0, 0, 0.3);
  list-style: none;
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: flex-start; }

.menu ul .horizontal li {
  display: block;
  float: left;
  padding: 0%;
  margin: 0%; }

.menu ul a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  padding: 15px;
  margin: 1px;
  font-family: 'lato', sans-serif;
  letter-spacing: 4px;
  color: #fff; }

.menu ul li:hover {
  background: rgba(0, 0, 0, 0.3);
  z-index: 3; }

.menu ul li:hover > ul {
  display: block; }

.menu ul li {
  background-color: #4f9ce4;
  position: relative;
  float: left;
  margin: 0%;
  padding: 0%; }

.menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  background: #4f9ce4;
  padding: 0; }

.menu ul ul a {
  line-height: 90%;
  padding: 10%; }

.menu ul ul li {
  float: none;
  width: 17.5rem;
  z-index: 2; }

.menuAgus {
  background-color: #4f9ce4; }

/*TAGS*/
html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  margin: auto;
  background-color: #fff;
  text-align: justify;
  text-transform: none; }
  body a {
    text-decoration: none; }
  body h4 {
    font-family: "Lato", sans-serif;
    color: #4f9ce4;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: start;
    margin: 1rem;
    padding: 1rem; }

/*CAROUSEL*/
.carouselSize {
  width: 100%;
  height: 63rem;
  display: block;
  margin: auto;
  align-content: center; }

.imgCarousel {
  width: 10rem;
  height: 60rem; }

/*ACORDEÓN*/
.acordeon {
  margin-top: 10rem;
  margin-bottom: 5rem;
  z-index: 1; }

.acordeonTitle {
  font-family: "Lato", sans-serif;
  color: #e48d8d;
  font-size: 3rem; }

/*MENU RESPONSIVE*/
@media (max-width: 768px) {
  .menu {
    background-color: #4f9ce4; }
  .carousel {
    display: none; } }

/*Animación Títulos*/
@keyframes mostrar {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*Animación divProductos*/
.transiciónProductos {
  width: 26rem;
  height: 26rem;
  transition: all 0.5s; }

.transiciónProductos:hover {
  transform: scale(1.1);
  width: 27rem;
  height: 27rem; }
