
/*Animación Títulos*/
@keyframes mostrar {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*Animación divProductos*/
.transiciónProductos {
	width: 26rem;
	height: 26rem;
	transition: all 0.5s;
}

.transiciónProductos:hover {
    transform: scale(1.1);
	width: 27rem;
	height: 27rem;
}
