

/*TRANSICIONES-ANIMACIONES*/
@keyframes mostrar {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }


/*MODALES*/  
.divCarrito {
    font-size: 1.5rem;
}

#modalCarritoVacio{ 
    background-image: linear-gradient(to right, rgba(211, 124, 118, 0.808) , rgba(0, 0, 0,0.8));
}

#capturaDatosCliente {
    background-image: linear-gradient(to right, rgba(120, 202, 157, 0.808) , rgba(0, 0, 0,0.8));
}

#totalCarrito {
    font-size: 1.3rem;
    margin:1rem;
    padding: 1rem;
    color: #fff;
    width: 14rem;
    height: 5rem;
    border-radius: 0.2rem;
    background-image: linear-gradient(to right, rgba(202, 66, 56, 0.808) , rgba(0, 0, 0,0.8));
}

#btn-comprar,#boton-seguir,#boton-comprar,#btn-validar {
    background-image: linear-gradient(to right, rgba(35, 129, 192, 0.808) , rgba(0, 0, 0,0.8));
    color: #fff;
    font-size: 1.2rem;
}

.btn-refresh,#boton-vaciar {
    background-image: linear-gradient(to right, rgba(202, 66, 56, 0.808) , rgba(0, 0, 0,0.8));
    color: #fff;
    font-size: 1.2rem;
}

#btn-comprar:hover,#boton-vaciar:hover,#boton-seguir:hover {
    background-color: rgba(3, 8, 34, 0.801);
}

.divForm {
    display: none;
}

#formulario {
    font-size: 3rem;
}

.datosCorrectos,.datosIncorrectos {
    display: none;
}

.itemList {
    display: none;
    font-size: 1rem;
    width: 26rem;
    height: 6rem;
}

.btn-suma {
    background-color: #fff;
    margin:1rem; 
}

.boton-eliminar {
    background-color: #fff;
}

