

/*Animación divProductos*/
.transiciónProductos {
	width: 26rem;
	height: 26rem;
	transition: all 0.5s;
}

.transiciónProductos:hover {
    transform: scale(1.1);
	width: 26.3rem;
	height: 26.3rem;
}

/*TRANSICIONES-ANIMACIONES*/
@keyframes mostrar {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }