
/*CAROUSEL*/
.carouselSize {
    width: 100%;
    height: 32rem;
    display: inline-block;
    margin: auto;
    align-content: center;
}

.imgCarousel {
    width: 12rem;
    height: 32rem;
    border-radius: 5px;
}

.img-logo {
    display: block;
    margin: auto;
    width: 25rem;
    height: 30rem;
}