/*MENU DESPLEGABLE*/
.menu {
  margin: 0%;
  padding: 0%;
  animation-name: mostrar;
  animation-duration: 1s;

    .menu ul {
      color: rgba(0,0,0,0.3);
      list-style: none;
      margin: 0%;
      padding: 0%;
      display: flex;
      justify-content: flex-start;

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0%;
          background: $myblue;
          padding: 0;

            a {
              line-height: 90%;
              padding: 10%;
            }

            li {
              float: none;
              width: 17.5rem;
              z-index: 2;
            }
          }

        li {
          background-color: $myblue;
          position: relative;
          float: left;
          margin: 0%;
          padding: 0%;

            a {
              display: block;
              padding: 1rem 1rem;
              margin: 1rem 1rem;
              color: #fff;
              text-decoration: none;
            }
          }

        a {
          display: block;
          text-decoration: none;
          font-weight: bold;
          font-size: 2rem;
          padding: 15px;
          margin: 1px;
          font-family: 'lato', sans-serif;
          letter-spacing: 4px;
          color: #fff;
        }

        .horizontal li {
          display: block;
          float: left;
          padding: 0%;
          margin: 0%;
        }

        li:hover {
          background: rgba(0,0,0,0.3);
          z-index: 3;
        }

        li:hover > ul {
          display: block;
        }
    }
}
  .menuAgus {
    // background-color: $myblue;
    background: rgb(19,72,119);
    background: -moz-linear-gradient(135deg, rgba(19,72,119,1) 0%, rgba(16,120,198,1) 0%, rgba(16,120,198,1) 40%, rgba(11,23,33,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(19,72,119,1) 0%, rgba(16,120,198,1) 0%, rgba(16,120,198,1) 40%, rgba(11,23,33,1) 100%);
    background: linear-gradient(135deg, rgba(19,72,119,1) 0%, rgba(16,120,198,1) 0%, rgba(16,120,198,1) 40%, rgba(11,23,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134877",endColorstr="#0b1721",GradientType=1);
}   

.dropdown-item {
  margin: auto;
  width: auto;
  height: auto;
}

.dropdown-item:hover {
  background-color: rgba(0,0,0,0.3);
} 

.navbar-toggler-icon {
  width: 3em ;
  height: 3em ;
}

.colorNavbar {
  color: #fff !important;
}