

/*TAGS*/
html {
    font-size: 62.5%;   

body {
    font-family: $myfont;
    margin: auto;
    background-color: #fff;
    text-align: justify;
    text-transform: none;

    a {
        text-decoration: none;
    }
    
  
    h4 { @include tipografía1 ($myfont, $myblue, 2.5rem, bold, null, start, 1rem, 1rem, null);
        }
    
    } 

}

h1 { @include tipografía1 
    ($myfont, $myblue, 3.2rem, bold, null, start, null, 1rem, null);
    margin-right: 0.7rem;
    margin-left: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    animation-iteration-count: infinite;
    animation-name: mostrar;
    animation-duration: 1.5s;
    animation-delay: 5s;
}

input {
     font-size: 2rem;
}