/*FOOTER*/
footer {
    background: rgb(19,72,119);
    background: -moz-linear-gradient(135deg, rgba(19,72,119,1) 0%, rgba(16,120,198,1) 0%, rgba(16,120,198,1) 40%, rgba(11,23,33,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(19,72,119,1) 0%, rgba(16,120,198,1) 0%, rgba(16,120,198,1) 40%, rgba(11,23,33,1) 100%);
    background: linear-gradient(135deg, rgba(19,72,119,1) 0%, rgba(16,120,198,1) 0%, rgba(16,120,198,1) 40%, rgba(11,23,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134877",endColorstr="#0b1721",GradientType=1);
    width: auto;
    height: auto;

    a { 
        .redesTranslate {
            width: 5rem;
            height: 5rem;
            transition: all 1s;
        }
        
        .redesTranslate:hover {
            width: 5.5rem;
            height: 5.5rem;
            transform: scale(1.1);
        } 
        
        .imgRedes {
            width: 5rem;
            height: 5rem;
            padding: 0.5rem;
            margin: 0.5rem;
        }
    }
 
    .contRedes {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 35%);
        grid-template-rows: auto;
        grid-template-areas: 
        "area1 area2";

        .area1 {
            grid-area: area1;

            .divRedes {
                display: inline-block;
                width: 5.5rem;
                height: 5.5rem;
            }

            .face {
                grid-area: face;
                gap: 2rem;
            }
            
            .insta {
                grid-area: insta;
                gap: 2rem;
            }
        }
        
        .area2 {
            grid-area: area2;
            
            .contactanosFooter {
                font-family: 'Lato', sans-serif;
                font-size: 1.4rem;
                text-align: justify;
                color: #fff;
                margin: 1rem;
                padding: 1rem;
            }
            
        }
        
        .area3 {
            grid-area: title;
        }

    }

    .redesSociales {
        color: #fff;    
        font-size: 1.4rem;
        text-align: start;
        padding: 1.5rem;
        margin: 1.5rem;
        text-decoration: none;
    }
    
    .faceInsta{
        display: grid;
        width: 100%;
        height: 60%;
        grid-template-columns: repeat(2, 33%);
        grid-template-rows: auto;
        grid-template-areas: 
        "title title"
        "face insta";
    }
}