/*estilos títulos*/
.title {
    margin: auto;
}

.title__textoBienvenida { @include tipografía1 
    ($myfont, $mypink, 3rem, null, null, start, 0.8rem, 0.4rem, null);
    margin-left: 1.3rem;
}

h1 { @include tipografía1 
    ($myfont, $myblue, 3.2rem, bold, null, start, null, 1rem, null);
    margin-right: 0.7rem;
    margin-left: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
/*estilos productos index*/
.divProductos {
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    padding: 3rem;
    border: solid rgb(158, 158, 158);
    align-content: center;
    background-color: #fff;
}

.divProductos__preciosCelus { @include tipografía1 
    ($myfont, #fff, 1.9rem, bold, null, center, 1px, 1px, null);
    background-color: $mypink;
}

.divProductos__celuTitle { @include tipografía1
    ($myfont, $myblue, 1.9rem, bold, null, center, 0.5rem, 0.5rem, null );
}

.divProductos__imgCelus {
    width: 13.5rem;
    height: 11.5rem;
    align-content: center;
    margin: auto;
    padding: 0.5rem;
    display: block;
}


/*ESTILOS Fichas Técnicas*/
.divFichas {
    font-size: 2rem;
    text-align: start;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

$producto: (celular: $myblue, accesorio: $mypink);

@each $nombre, $color in $producto {
    .divFichas--#{$nombre} {
        color: $color;
        @extend .divFichas; 
    } 
}

$tipo: (celular: $myblue, accesorio: $mypink);

@each $nombre, $color in $tipo {
    .title-#{$nombre} {
        color: $color;
        font-size: 2rem;
        text-align: start;
        margin: 1rem;
        margin-top: 2rem;
        padding: 1rem;
        font-weight: bold;
    }
}
/*estilos celus y accesorios*/
.divCelus {
    background-color: #fff;
    height: 30rem;
    width: 30rem;
    margin: 3rem;
    padding: 3rem;
    border: solid rgb(149, 157, 168);
    display: block;
}

$producto: celular;

.divCelus__preciosCelus2 {
    @if $producto == celular {
        @include tipografía1 
        ($myfont, #fff, 1.9rem, bold, none, center, 0.5rem, 0.5rem, solid rgb(177, 177, 163) );
        background-color: $mypink;
    }
     @else if $producto == accesorio {
        @include tipografía1 
        ($myfont, #fff, 1.9rem, bold, none, center, 0.5rem, 0.5rem, solid rgb(177, 177, 163) );
        background-color: $myblue;
    } 

}

.divCelus__preciosCelus2--bordesColor {
    color: #fff;
    background-color: $mypink;
    font-size: 1.9rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border: solid black;
    margin-bottom: 1rem;
    padding: 1rem;
}

.divCelus__celusTitle { @include tipografía1 
    ($myfont, $myblue, 2.2rem, bold, null, center, 0.5rem, 0.5rem, null);
}

.divCelus__imgDetalles {
    width: 16rem;
    height: 15rem;
    margin: auto;
    display: block;
    align-content: center;
}

.divBoton {
    width: 15rem;
    height:5rem;
    background-color: $myblue;
    margin: 2.5rem;
    margin-left: 3rem;
}

.divBoton__botonComprar {
    font-family: $myfont;
    letter-spacing: 0.1rem;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

/*Página error 404*/
.error404 {
    background-color: #fff;
}

.erroresDiv {
    color: $myblue;
    margin: 1rem;
    padding: 1rem;
    font-size: 2.5rem;
    font-family: $myfont;
}

.erroresHome {
    font-size: 3rem;
    background-color: $mypink;
    display: inline-block;
    margin: 5rem;
}

/*INFO-PAGOS-ENVIOS*/

.divInfo {
    width: 19rem;
    height: 19rem;
    margin-right:6rem;
    margin-bottom: 5rem;
    margin-left: 4rem;
    margin-top: 5rem;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}   

.imgInfo {
    width: 17rem;
    height: 17rem;
    margin: auto;
    display: inline-block;
}