* {
    @include reseteo-css;
}

/*estilos títulos*/
.title {
    display: inline-block;
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-left: 3rem;
    animation-name: mostrar;
    animation-duration: 0.5s;
}

.title__textoBienvenida { @include tipografía1 
    ($myfont, $mypink, 3rem, null, null, start, 0.8rem, 0.4rem, null);
    margin-left: 1.3rem;
}

/*estilos productos index*/
.divProductos {
    height: 55rem;
    width :auto;
    border: solid 0.1rem black;
    margin: 1.5rem;
    box-shadow: 11px 10px 28px -2px rgba(0,0,0,0.75);
}

.divProductos__preciosCelus { @include tipografía1 
    ($myfont, $mypink, 1.9rem, bold, null, center, 1px, 1px, null);
}

.divProductos__celuTitle { @include tipografía1
    ($myfont, $myblue, 1.9rem, bold, null, center, 0.5rem, 0.5rem, null );
}

.divProductos__imgCelus {
    width: 13.5rem;
    height: 11.5rem;
    align-content: center;
    margin: auto;
    padding: 0.5rem;
    display: block;
}

$tipo: (celular: $myblue, accesorio: $mypink);

@each $nombre, $color in $tipo {
    .title-#{$nombre} {
        color: $color;
        font-size: 2rem;
        text-align: start;
        margin: 1rem;
        margin-top: 2rem;
        padding: 1rem;
        font-weight: bold;
    }
}

/*Página error 404*/
.error404 {
    background-color: #fff;
}

.erroresDiv {
    color: $myblue;
    margin: 1rem;
    padding: 1rem;
    font-size: 2.5rem;
    font-family: $myfont;
}

.erroresHome {
    font-size: 3rem;
    background-color: $mypink;
    display: inline-block;
    margin: 5rem;
}

/*INFO-PAGOS-ENVIOS*/

.divInfo {
    width: 19rem;
    height: 19rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    display: block;
    margin:auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}   

.imgInfo {
    width: 17rem;
    height: 17rem;
    margin: auto;
    display: inline-block;
}

#btn-add {
    display: block;
    margin: auto;
    font-size: 1.7rem;
    width: 15rem;
    height: 4.5rem;
    background-color: $myblue;
}

#btn-add:hover {
    background-color: rgba(20, 19, 19, 0.753);
}

.btn-contador {
    margin-left: 3rem;
    width: 10rem;
    height: 3.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color:white;
    background-color: black;
}

.itemCarrito{
    background-image: linear-gradient(to right, rgba(49, 49, 49, 0.808) , rgba(0, 0, 0,0.8));
}

.textForm {
    margin-left: 1rem;
}