/*FOOTER*/
footer {
    background: rgb(19,72,119);
    background: -moz-linear-gradient(135deg, rgba(19,72,119,1) 0%, rgba(16,120,198,1) 0%, rgba(16,120,198,1) 40%, rgba(11,23,33,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(19,72,119,1) 0%, rgba(16,120,198,1) 0%, rgba(16,120,198,1) 40%, rgba(11,23,33,1) 100%);
    background: linear-gradient(135deg, rgba(19,72,119,1) 0%, rgba(16,120,198,1) 0%, rgba(16,120,198,1) 40%, rgba(11,23,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134877",endColorstr="#0b1721",GradientType=1);
    width: 100%;
    height: auto;
    margin-top: 4rem;

    .faceInsta{
        display: grid;
        width: 100%;
        height: 60%;
        grid-template-columns: repeat(2, 20%);
        grid-template-rows: auto;
        grid-template-areas: 
        "title title"
        "face insta";

        .divRedes {
            display: inline-block;
            width: 5.5rem;
            height: 5.5rem;
                    
            .imgRedes {
                width: 5rem;
                height: 5rem;
                padding: 0.5rem;
                margin: 0.5rem;
            }

            .imgRedes:hover {
                background-color: rgba(0,0,0,0.3);
            }
        }

        .face {
            grid-area: face;
            gap: 2rem;
        }
                    
        .insta {
            grid-area: insta;
            gap: 2rem;
        }

        .area3 {
            grid-area: title;
        }
        
    }

}

.redesSociales {
    color: #fff;    
    font-size: 1.4rem;
    text-align: start;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
}

.contactanosFooter {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    text-align: justify;
    color: #fff;
    margin: 1rem;
    padding: 1rem;
}

.institucional {
    color: #fff;
}

      

            

    

