/*Formulario*/
.formu {
    color: $myblue;
    font-size: 2.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 50%;
    display: inline-block;
    animation-name: mostrar;
    animation-duration: 1.1s;
}

@for $i from 1 through 4 {
.formu__formulario-#{$i} {padding: 1.5rem;
    margin: 1.5rem;}     
}

.formu__detalles {
    font-size: 2.5rem;
    width: 25rem;
}

/*Imágenes Gente*/
.divGentes {
    margin-bottom: 3rem;
    display: inline-block;
    animation-duration: 1.5s;
	animation-name: mostrar;
}

.divGentes__imgNosotros {
    display: block;
    width: 6 * 5 + rem;
    height: 25rem;
    border: solid;
    margin: auto;
    align-content: center;
}