 /*HEADER*/ 
header {
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
   
    label {
        display: none;
        margin: auto;

        .iconoMenu {
            height: 4.5rem;
            width: 4.5rem;
        }
    }

    label:hover {
        cursor: pointer;
        background: #000000;
    }

    #btn-menu {
        display: none;
    }

    .divLogo {
        width: auto;
    }

    .logoImagen {
        
        width: 100%;
        height: 30rem;
    }
}
