 /*HEADER*/ 
header {
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    background: rgb(19,72,119);
    background: -moz-linear-gradient(135deg, rgba(19,72,119,1) 0%, rgba(16,120,198,1) 0%, rgba(16,120,198,1) 40%, rgba(11,23,33,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(19,72,119,1) 0%, rgba(16,120,198,1) 0%, rgba(16,120,198,1) 40%, rgba(11,23,33,1) 100%);
    background: linear-gradient(135deg, rgba(19,72,119,1) 0%, rgba(16,120,198,1) 0%, rgba(16,120,198,1) 40%, rgba(11,23,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134877",endColorstr="#0b1721",GradientType=1);
   
    label {
        display: none;
        margin: auto;

        .iconoMenu {
            height: 4.5rem;
            width: 4.5rem;
        }
    }

    label:hover {
        cursor: pointer;
        background: #000000;
    }

    #btn-menu {
        display: none;
    }

    .divLogo {
        display: block;
        margin:auto;
        width: 100%;
        height: 60%;
    }

    .logoImagen {
        width: 55rem;
        height: 25rem;
    }
}
