
.nosotrosTexto { @include tipografía1 
    ($myfont, $mypink, 2.8rem, null, null, start, 1.3rem, 1.3rem, null);
    animation-duration: 0.5s;
	animation-name: mostrar;
    z-index: 0;
}

.mapaGoogle {
    width: 35rem;
    height: 35rem;
    margin: auto;
}